<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signup.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="registration-container">
        <form class="registration-form" action="">
            <h2>Registration</h2>
            <input type="text" name="name" placeholder="Enter your name...">
            <br>
            <input type="email" name="email" placeholder="Enter your e-mail...">
            <br>
            <input type="password" name="password" placeholder="Enter your password...">
            <br>
            <input type="password" name="password" placeholder="Repeat your password...">
            <br>
            <input class="btn" type="submit" value="Sign Up!">
        </form>
    </div>
</body>
</html>