<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/catalog.css">
	<title>Cart</title>
</head>

<body>
<div class="page">

	<header class="header">
		<div class="header-main">
			<div class="container">
				<div class="header-inner">
					<div class="header-logo">
						<a href="/">
							<img src="/img/onlinestoreos.svg" alt="">
						</a>
					</div>

					<nav class="header-nav">
						<a class="header-nav-link" href="" sec:authorize="hasRole('USER')">
							<img class="header-nav-link-img" src="/img/cart1.svg" alt="">&nbsp;Cart&nbsp;
						</a>

						<a class="header-nav-link" href="" sec:authorize="hasRole('ADMIN')">
							<img class="header-nav-link-img" src="/img/settings.svg" alt="">&nbsp;Settings&nbsp;
						</a>

						<a class="header-nav-link" href="/logout" sec:authorize="isAuthenticated()">
							<img class="header-nav-link-img" src="/img/logout-icon.svg" alt=""> Logout
						</a>

						<a class="header-nav-link" th:href="@{/login}" sec:authorize="isAnonymous()">
							<img class="header-nav-link-img" src="/img/login-icon.svg" alt="">&nbsp;Sign In&nbsp;
						</a>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<main class="main">
		<br><br>
		<h2>Cart</h2>
		<div class="table-products">

			<!--			if category is empty    -->
			<div th:if="${products.isEmpty()}">
				<span>THIS CATEGORY IS EMPTY</span>
			</div>

			<!--			if category is not empty    -->
			<tr th:each="product:${products}">

				<div class="table-products mainbox">

					<div name="img-block" class="img-block">
						<div name="image-part" class="image-wrap">
							<img th:if="${product.getImages().size() > 0}"
							     th:src="@{/images/{id} (id=${product.getImages().get(0).getId()})}">
						</div>
						<div name="image-part" class="image-wrap">
							<img class="noimg" th:if="${product.getImages().size() == 0}"
							     src="/img/noimg.jpg">
						</div>
					</div>

					<div name="description-block">
						<a th:method="GET"
						   th:href="@{/product/show-product/{id} (id=${product.getId()})}">
							<div class="product-name" name="name" th:text="${product.getProductName()}">
								Product Name
							</div>
							<div class="product-description" th:text="'[' + ${product.getDescription()} + ']'">
								Product Description
							</div>
							<div th:text="'Price: ' + ${product.getPrice()}">
								Product Price
							</div>
						</a>
					</div>

					<div name="buttons-block">
						<form th:action="@{/product/add-to-cart}" th:method="POST">
							<input type="hidden" name="product-id" th:value="${product.getId()}">
							<button type="submit" class="add-to-cart-button">Add to cart!!!</button>
						</form>
					</div>
				</div>
			</tr>
		</div>
	</main>

</div>
</body>

</html>