<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/catalog.css">
	<title>Catalog</title>
</head>

<body>
<div class="page">

	<header class="header">
		<div class="header-main">
			<div class="container">
				<div class="header-inner">
					<div class="header-logo">
						<a href="/">
							<img src="/img/onlinestoreos.svg" alt="">
						</a>
					</div>

					<nav class="header-nav">
						<a class="header-nav-link" href="" sec:authorize="hasRole('USER')">
							<img class="header-nav-link-img" src="/img/cart1.svg" alt="">&nbsp;Cart&nbsp;
						</a>

						<a class="header-nav-link" href="" sec:authorize="hasRole('ADMIN')">
							<img class="header-nav-link-img" src="/img/settings.svg" alt="">&nbsp;Settings&nbsp;
						</a>

						<a class="header-nav-link" href="/logout" sec:authorize="isAuthenticated()">
							<img class="header-nav-link-img" src="/img/logout-icon.svg" alt=""> Logout
						</a>

						<a class="header-nav-link" th:href="@{/login}" sec:authorize="isAnonymous()">
							<img class="header-nav-link-img" src="/img/login-icon.svg" alt="">&nbsp;Sign In&nbsp;
						</a>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<main class="main">
		<div class="nav-bar">
			<ol>
				<a href="/catalog"><span>Catalog</span></a>
				<li class="nav-link"><a th:href="@{/catalog/category/{cat} (cat=${product_category_name})}">
					<span th:text="${productCategoryCorrectlyName}">Product Category Name</span></a></li>
				<li class="nav-link"><span th:text="${productTypeName}">Product Type Name</span></li>

			</ol>
		</div>
		<br><br>
		<h2 th:text="${productTypeName}">SubCategory Name</h2>

	</main>

</div>
</body>

</html>