html {
    font-size: 20px;
}

body {
    background-color: rgb(255, 145, 0);
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.registration-container {
    display: block;
    background-color: rgb(117, 117, 117);
    border-radius: 0.5rem;

    height: 92vh;

    text-align: center;
    padding: 1rem;
}

.registration-form {
    display: block;

    background-color: rgb(255, 255, 255);

    border: solid 0.2rem rgb(255, 145, 0);
    border-radius: 0.5rem;

    margin: 1vh 35vw;
    padding: 1rem;
}

h2 {
    font-size: 5vh;
    color: rgb(70, 70, 70);
}

input {
    font-size: 100%;
    font-family: inherit;
    display: block;

    margin: 2%;
    padding: 2%;

    border: solid 0.15rem rgb(255, 145, 0);
    border-radius: 0.5rem;

    width: 90%;
}

input:focus {
    outline: 0;
    border-color: rgb(0, 0, 0, 0.5);
    transition: 1s;
}

.btn {
    display: inline;
    text-align: center;
    width: 5rem;

    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 145, 0, 0.3);

    transition: 0.7s;
}

.error-msg {
    color: red;
}