<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/index.css" type="text/css">
	<title>onlinestore</title>
</head>

<body>

<div class="page">

	<header class="header">
		<div class="header-main">
			<div class="contacts">
				Contact me:
				<a class="contact-link" href="mailto:allmor@mail.ru">
					<img src="img/mail_ru_logo_icon.svg" alt="">
					allmor@mail.ru
				</a>
				<a class="contact-link" href="https://t.me/allmortg" target="_blank">
					<img src="img/telegram_logo_icon.svg" alt="">
					@allmortg
				</a>
			</div>
			<div class="container">
				<div class="header-inner">
					<div class="header-logo">
						<a href="">
							<img src="img/onlinestoreos.svg" alt="">
						</a>
					</div>

					<nav class="header-nav">
						<a class="header-nav-link" href="" sec:authorize="isAuthenticated()">
							<img class="header-nav-link-img" src="img/cart1.svg" alt="">&nbsp;Cart&nbsp;
						</a>

						<a class="header-nav-link" href="" sec:authorize="isAuthenticated()">
							<img class="header-nav-link-img" src="img/person.svg" alt="">&nbsp;Profile&nbsp;
						</a>

						<a class="header-nav-link open-popup" id="open-popup" href="" sec:authorize="isAnonymous()">
							<img class="header-nav-link-img" src="img/login-icon.svg" alt="">&nbsp;Sign In&nbsp;
						</a>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<div class="content">
		<aside class="sidebar content-block">
			<nav class="categories">
				<ul class="menu-top">
					<li class="menu-list"><a href="">
                                <span class="category-element">
                                    <img class="icons--product-categories" src="img/washing-machine.svg" alt=""> Home
                                    appliance</span></a>
						<ul class="menu-sublist">
							<li><a href="">Refrigerators</a></li>
							<li><a href="">Stoves</a></li>
						</ul>
					</li>
					<br>
					<li class="menu-list"><a href="">
                                <span class="category-element"> <img class="icons--product-categories"
                                                                     src="img/phone.svg"
                                                                     alt="">
                                    Smartphones and gadgets </span></a>
						<ul class="menu-sublist">
							<li><a href="">Smartphones</a></li>
							<li><a href="">Smartwatches</a></li>
						</ul>
					</li>
					<br>
					<li class="menu-list"><a href="">
                                <span class="category-element"> <img class="icons--product-categories" src="img/tv.svg"
                                                                     alt="">
                                    TV and multimedia </span></a>
						<ul class="menu-sublist">
							<li><a href="">TV's</a></li>
							<li><a href="">Game consoles</a></li>
						</ul>
					</li>
					<br>
					<li class="menu-list"><a href="">
                                <span class="category-element"> <img class="icons--product-categories" src="img/pc.svg"
                                                                     alt="">
                                    PC and parts </span></a>
						<ul class="menu-sublist">
							<li><a href="">Laptops</a></li>
							<li><a href="">Parts for PC</a></li>
						</ul>
					</li>
					<br>
				</ul>
			</nav>
		</aside>

		<main class="main content-block">

			<div class="box box1">
				<img src="img/under-construction.jpg" alt="under construction">
			</div>
			<div class="box box2">
				<img src="img/under-construction.jpg" alt="under construction">
			</div>

			<div class="box box3">
				<img src="img/under-construction.jpg" alt="under construction">
			</div>
		</main>
	</div>
</div>

<div class="popup-bg" id="pop_up">
	<div class="popup" id="pop_up_body">
		<img class="close-popup" id="close-popup" src="img/close-btn.svg" alt="close-btn">
		<h3>SIGN IN</h3>
		<form th:method="POST" class="popup-form" action="/process_login">
			<label class="signin-label" for="email">Enter email:</label>
			<input class="signin-input" type="text" id="email">
			<br>
			<label class="signin-label" for="password">Enter password:</label>
			<input class="signin-input" type="password" id="password">
			<br>
			<input class="btn" type="submit" value="Sign In"></input>
		</form>
		<a href="/signup">Don't have an account yet? Sign up!</a>
		<script src="js/index.js"></script>
	</div>
</div>

</body>

</html>